@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefce8;
  --foreground: #1c1917;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1917;
    --foreground: #fafaf9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

@layer base {
  h1 {
    @apply text-3xl font-bold tracking-tight;
  }
  h2 {
    @apply text-2xl font-semibold tracking-tight;
  }
  h3 {
    @apply text-xl font-semibold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
