{% extends "base.html" %}
{% block content %}
<h2>Welcome to Refugio Animal Paraguay!</h2>
<p>Dear {{ user_name }},</p>

<p>Thank you for creating your account with Refugio Animal Paraguay. We are glad to have you join our community of animal lovers.</p>

<p>With your account you can:</p>
<ul>
  <li>Browse animals available for adoption</li>
  <li>Submit adoption requests</li>
  <li>Track the status of your applications</li>
  <li>Make donations to support our work</li>
</ul>

<p>If you have any questions, our team is here to help.</p>

<p>Welcome aboard!</p>
{% endblock %}
